.header-logo{
  color:red;
  font-size:36px;
  font-family: serif;
  float:left;
  padding:30px;
}
.header-list{
  padding:33px 20px;

}
.dream{
  color: orange;
}
.k{
  color:blue;
  font-size: 25px;
}

footer{
  float:right;
}


span{
  font-size:30px;
}
.josei{
  font-size:20px;
}
li{
  list-style:none;
}
.header-logo{
  float:left;
}
.f{
  float:left;
  padding:0 15px;
}
header{
  background-color:green;
  height:110px;
}
