h1{
  color:red;
  font-size:60px;
  font-family: serif;
}

.dream{
  color: orange;
}
.hobby{
  color:blue;
  font-size: 25px;
}
.woman{
  color: blue;
  font-size: 25px;
}
.singer{
  color:blue;
  font-size: 25px;
}
.song{
  color:blue;
  font-size: 25px;
}
footer{
  float:right;
}


span{
  font-size:30px;
}
.josei{
  font-size:20px;
}
